<div
*ngIf="isNewDay"
>
    <div class="date">{{ getFormattedDate }}</div>
</div>

<div
*ngIf="category === chatCategory.MESSAGE"
class="message"
(click)="isFocused = true"
(mouseover)="isFocused = true"
(mouseleave)="isFocused = false"
>
    <div class="row">
        <div class="chat">
            <div
                *ngIf="!isHideProfile || isNewDay"
                class="profile"
                (click)="onProfileClick()"
                [style.backgroundColor]="color"
            >{{ name }}</div>
            <span
                class="text"
                [style.fontSize]="fontSize"
                [innerHTML]="message | formatText"
            ></span>
        </div>
        <span
            *ngIf="isShowTime"
            class="date-time"
        >{{ getFormattedDateTime }}</span>
    
    </div>
    <div
        class="attachment"
        *ngIf="attaches?.length > 0"
    >
    <app-thumbnail
        *ngFor="let file of attaches; let i = index"
        [isClickable]="true"
        [chatId]="id"
        [src]="getSrcText(file)"
        [key]="file.urls?.origin"
        (click)="onThumbnailClick(i, $event)"
    ></app-thumbnail>
    </div>
    <div
        class="controls"
        *ngIf="isFocused && isAllowControl"
    >
        <button
        mat-stroked-button
        (click)="onReplyClick()"
        >{{ 'GROUP.ROOM.CHAT.REPLY' | translate }}</button>
    </div>
</div>
<div
*ngIf="category === chatCategory.TOPIC_PREVIEW && isAllowControl"
class="box"
>
    <app-topic-preview
    [title]="message"
    [topicId]="meta?.child_topic_id"
    [room]="room"
    (update)="update?.emit()"
    ></app-topic-preview>
</div>