@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.message {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  overflow:hidden;
  white-space: pre-wrap;


  .row {
    display: flex;
    justify-content: space-between;
    width: inherit;

    .chat {
      display: flex;
      justify-content: left;

      .profile {
        color: #FFFFFF;
        border-radius: 4px;
        font-size: 16px;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: 8px;
        height: 20px;
        white-space: nowrap;
        cursor: pointer;
      }

      .text {
        overflow-wrap: anywhere;
        line-height: normal;
      }
    }

    .date-time {
      font-size: x-small;
      color: var(--sub-text-color);
      margin-left: 8px;
    }
    
  
  }

  .attachment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;

    app-thumbnail {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }

  &:hover {
    background-color: var(--list-item-hover);
  }


  
}
