@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.message {
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
  justify-content: space-between;

  .chat {
    display: flex;
    
    .profile {
      color: #FFFFFF;
      border-radius: 4px;
      font-size: 16px;
      padding-left: 2px;
      padding-right: 2px;
      margin-right: 8px;
      cursor: pointer;
    }
  
  }

  &:hover {
    background-color: var(--list-item-hover);
  }


  
}
