<div class="message">
    <div class="row">
        <div class="chat">
            <div
                *ngIf="!isHideProfile"
                class="profile"
                (click)="onProfileClick()"
                [style.backgroundColor]="color"
            >{{ name }}</div>
            <span
                class="text"
                [style.fontSize]="fontSize"
                [innerHTML]="message | formatText"
            ></span>
        </div>
        <span
            *ngIf="isShowTime"
            class="date-time"
        >{{ getFormattedDate }}</span>
    
    </div>
    <div
        class="attachment"
        *ngIf="attaches?.length > 0"
    >
    <app-thumbnail
        *ngFor="let file of attaches; let i = index"
        [isClickable]="true"
        [src]="getSrcText(file)"
        (click)="onThumbnailClick(i)"
    ></app-thumbnail>
    </div>
</div>