<div class="message">
    <div class="row">
        <div class="chat">
            <div
                *ngIf="!isHideProfile"
                class="profile"
                (click)="onProfileClick()"
                [style.backgroundColor]="color"
            >{{ name }}</div>
            <span class="text">{{ message }}</span>
        </div>
        <span *ngIf="isShowTime">{{ getFormattedDate }}</span>
    
    </div>
    <div
        class="attachment"
        *ngIf="attaches?.length > 0"
    >
    <app-thumbnail
        *ngFor="let file of attaches"
        [isClickable]="true"
        [src]="getSrcText(file)"
        (click)="onThumbnailClick(file)"
    ></app-thumbnail>
    </div>
</div>