@import "src/assets/style/attrs";
@import "src/assets/style/palette";

:host {
  display: block;
}

.loader {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header {

  margin-bottom: 8px;
  
  .title {
    display: flex;
    height: 48px;

    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 48px;
      height: 48px;
      margin-left: 8px;
    }
    
  }
  .other-chat {
    h3 {
      margin-top: 4px;
      margin-left: 8px;
      margin-bottom: 4px;
      line-height: 24px;
      height: 24px;
      font-weight: bold;
    }
    margin-top: 4px;
    border: 1px solid var(--list-background-dark);
    border-radius: 8px;
    margin-bottom: 4px;

    app-message {
      cursor: pointer;
    }
  }
}

.chats {
  width: 400px;
  height: 100%;
  overflow: auto;

}

.footer {
  width: 400px;
  position: fixed;
  padding-bottom: 8px;
  bottom: 200px;
  background-color: var(--body-background);
  z-index: $FLOAT_ZINDEX;

  mat-form-field {
    width: inherit;
    min-height: 56px;

    textarea {
      resize: none;
      max-height: 200px;
    }

    ::ng-deep .mat-mdc-form-field-icon-suffix {
      display: flex;
    }
  }

  .fileInput {
    display: none;
  }
  
  .input_panel {
    display: block;
    width: inherit;
    overflow-x: auto;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-left: 8px;
    -webkit-box-shadow: 0px -4px 3px var(--shadow-color);
    -moz-box-shadow: 0px -4px 3px var(--shadow-color);
    box-shadow: 0px -4px 3px var(--shadow-color);
    border-radius: 8px;

    app-thumbnail {
      margin-right: 8px;
    }

    h3 {
      margin-top: 4px;
      margin-left: 8px;
      margin-bottom: 4px;
      line-height: 24px;
      height: 24px;
      font-weight: bold;
    }

    .header {
      display: flex;
      justify-content: space-between;

      mat-icon {
        cursor: pointer;
        transform: scale(0.8);
        margin-right: 8px;
      }
    }

    .reply {
      width: 100%;
      margin-bottom: 8px;

      .body {
        flex-wrap: wrap;
        margin-top: 8px;
        margin-right: 8px;
        border-radius: 16px;
        padding: 16px 16px 16px 16px;
        background-color: var(--quote-box-color);
      }

    }

    .attachment {
      display: block;

      .body {
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
      }
    }

  }
}


@media screen and (max-width: $SHORT_WINDOW_WIDTH) {

  .chats {
    width: 100%;
    height: calc(100% - #{$CHAT_FOOTER_HEIGHT});
  }

.footer {
  width: calc(100% - #{$SIDENAV_WIDTH} - 16px);
  right: 0;
  padding-left: 8px;
  padding-right: 8px;

  .attachment {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

}
