<div
  #chatContainer
  (scroll)="onScroll($event)"
  (mouseover)="isManualScroll = true"
  (touchstart)="isManualScroll = true"
  class="chats"
>
  <ngx-skeleton-loader
    *ngIf="isLoading && !isFullyLoad"
    count="6"
  ></ngx-skeleton-loader>
  <app-message
    #messageComponent
    *ngFor="let chat of chats"
    [name]="chat.user?.name"
    [user_id]="chat.user?.id"
    [message]="chat.content"
    [date]="chat?.createdAt"
    [isShowTime]="true"
  ></app-message>
</div>


<div
  *ngIf="!room"
  class="loader"
>
  <ngx-skeleton-loader
    count="10"
  ></ngx-skeleton-loader>
</div>

<div
  class="footer"
  [style.width]="footerWidth"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'GROUP.ROOM.CHAT.MESSAGE' | translate }}</mat-label>
    <input
      matInput
      [(ngModel)]="message"
      [disabled]="isDisabled"
      [placeholder]="'GROUP.ROOM.CHAT.WRITE_A_MESSAGE' | translate"
      (keyup.enter)="sendMessage(message)"
      id="chat_message_input"
      type="text"
      autocomplete="off"
    >
    <button
      mat-icon-button
      matSuffix
      [attr.aria-label]="'GROUP.ROOM.CHAT.EMOJI' | translate"
    >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </button>
    <button
      #send_button
      mat-icon-button
      matSuffix
      (click)="sendMessage(message)"
      [attr.aria-label]="'GROUP.ROOM.CHAT.SEND' | translate"
    >
      <mat-icon
        matSuffix
      >send</mat-icon>
    </button>
  </mat-form-field>
</div>

