<div
*ngIf="topic"
#headerContainer
class="header"
>
  <div class="title">
    <button
    mat-icon-button
    aria-label="Upward"
    (click)="goToParentTopic()"
    >
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <h1 *ngIf="topic?.name">{{ topic?.name }}</h1>
    <div
      *ngIf="topic?.chat"
      class="reply"
    >
      <span>{{ 'GROUP.ROOM.CHAT.REPLY_TITLE' | translate }}:</span>
      <app-message
      [id]="topic?.chat?.id"
      [name]="topic?.chat?.user?.name"
      [category]="topic?.chat?.category"
      [user_id]="topic?.chat?.user?.id"
      [message]="topic?.chat?.content"
      [date]="topic?.chat?.createdAt"
      [attaches]="topic?.chat?.meta?.attaches"
      [isAllowControl]="false"
      [color]="topic?.chat?.user?.color || '#46a35e'"
      [isShowTime]="true"
    ></app-message>
    </div>
  </div>
  <div
  *ngIf="extraChats?.length > 0"
  class="other-chat"
  >
    <h3>{{ 'GROUP.ROOM.CHAT.ALL_CHATS' | translate }}</h3>
    <app-message
    #otherMessageComponent
    *ngFor="let chat of extraChats; let i = index"
    (click)="onOtherChatClick(chat)"
    [id]="chat.id"
    [name]="chat.user?.name"
    [category]="chat.category"
    [user_id]="chat.user?.id"
    [message]="chat.content"
    [date]="chat?.createdAt"
    [attaches]="chat?.meta?.attaches"
    [isAllowControl]="false"
    [color]="chat?.user?.color || '#46a35e'"
    [isShowTime]="true"
  ></app-message>
  </div>

</div>
<div
  #chatContainer
  [style.height]="chatContainerHeight"
  (scroll)="onScroll($event)"
  (mouseover)="onMouseOver()"
  (mousedown)="onMouseDown()"
  (touchstart)="onTouchStart()"
  (touchend)="onTouchEnd()"
  (mouseleave)="onMouseLeave()"
  (wheel)="onMouseWheel($event)"
  class="chats"
>
  <app-skeleton-loader
    *ngIf="!isFullyLoad"
    count="6"
  ></app-skeleton-loader>
  <app-message
    #messageComponent
    *ngFor="let chat of chats; let i = index"
    (reply)="openReply(chat)"
    (update)="executeAutoScroll()"
    [id]="chat.id"
    [name]="chat.user?.name"
    [user_id]="chat.user?.id"
    [category]="chat.category"
    [message]="chat.content"
    [date]="chat?.createdAt"
    [attaches]="chat?.meta?.attaches"
    [meta]="chat?.meta"
    [isHideProfile]="isHideName(chat, i)"
    [isAllowControl]="true"
    [isNewDay]="i === 0 || isNewDate(chat, chats[i - 1])"
    [color]="chat?.user?.color || '#46a35e'"
    [isShowTime]="true"
  ></app-message>

  <!-- Sending Chats -->
  <app-message
  #messageComponent
  *ngFor="let chat of sendingChats; let i = index"
  (reply)="replyChat = chat"
  (update)="executeAutoScroll()"
  [id]="chat.id"
  [name]="chat.user?.name"
  [user_id]="chat.user?.id"
  [category]="chat.category"
  [message]="chat.content"
  [date]="chat?.createdAt"
  [attaches]="chat?.meta?.attaches"
  [meta]="chat?.meta"
  [isHideProfile]="isHideName(chat, i)"
  [isAllowControl]="false"
  [color]="chat?.user?.color || '#46a35e'"
  [isShowTime]="true"
  ></app-message>
  
</div>


<div
  *ngIf="!room"
  class="loader"
>
  <app-skeleton-loader
    count="10"
  ></app-skeleton-loader>
</div>

<div
  #footer
  class="footer"
  [ngStyle]="footerStyle"
>
<input
  #fileInput
  type="file"
  class="fileInput"
  multiple="multiple"
  (change)="onFileSelected($event)"
/>
<div
*ngIf="files?.length > 0 || replyChat"
class="input_panel"
>

<div
*ngIf="replyChat"
class="reply"
>
  <div class="header">
    <h3>{{ 'GROUP.ROOM.CHAT.REPLY_TO_USER' | translate: {name : replyChat.user?.name} }}</h3>
    <mat-icon (click)="closeReply()">close</mat-icon>
  </div>
  <div class="body">
    <app-message
    [id]="replyChat.id"
    [name]="replyChat.user?.name"
    [user_id]="replyChat.user?.id"
    [message]="replyChat.content"
    [date]="replyChat?.createdAt"
    [attaches]="replyChat?.meta?.attaches"
    [color]="replyChat?.user?.color || '#46a35e'"
    [isShowTime]="true"
  ></app-message>

  </div>

</div>

<div
*ngIf="files?.length > 0"
class="attachment"
>
  <div class="header">
    <h3>{{ 'GROUP.ROOM.CHAT.ATTACHMENTS' | translate}}</h3>
  </div>
  <div class="body">
    <app-thumbnail
    *ngFor="let file of files"
    (click)="openAttachDeleteDialog(file)"
    [isClickable]="true"
    [src]="getSrcText(file)"
  ></app-thumbnail>
  </div>
</div>
</div>
  <mat-error *ngIf="chatErrorMessage">
    {{ chatErrorMessage | translate }}
  </mat-error>
  <mat-progress-bar
    *ngIf="uploadingFiles > 0 || isChatLoading"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-form-field
    (touchstart)="isMultiLineEnabled = true"
    (mousedown)="this.message?.length === 0 ? isMultiLineEnabled = false : null"
    (mousedown)="refreshChatFieldLayout()"
    appearance="outline"
  >
    <input
    #fakeChatInput
    type="text"
    readonly="readonly"
    class="fake-input"
    />
    <textarea
      matInput
      #chatField
      appTextareaAutoResize
      [(ngModel)]="message"
      [disabled]="isDisabled || uploadingFiles > 0"
      [placeholder]=" (isDisabled ? 'GROUP.ROOM.CHAT.DISABLED' : 'GROUP.ROOM.CHAT.WRITE_A_MESSAGE') | translate"
      [multiline]="isMultiLineEnabled"
      [defaultHeight]="DEFAULT_FOOTER_HEIGHT"
      (compositionstart)="onCompositionStart($event)"
      (compositionend)="onCompositionEnd($event)"
      (keyup.enter)="onSendKeyPress($event, message)"
      (keydown.enter)="onSendKeyDown($event)"
      (keydown.alt.enter)="makeNewLine($event)"
      (heightUpdate)="onChatFieldResize()"
      id="chat_message_input"
      type="text"
      autocomplete="off"
      
    ></textarea>

    <button
      *ngIf="!isLoading && !isDisabled"
      mat-icon-button
      matSuffix
      [attr.aria-label]="'GROUP.ROOM.CHAT.ATTACH_A_FILE' | translate"
      (click)="onFileButtonClick($event)"
      (touchend)="onFileButtonClick($event)"
    >
      <mat-icon matSuffix>add_box</mat-icon>
    </button>

    <button
      *ngIf="!isShortWidth"
      mat-icon-button
      matSuffix
      [attr.aria-label]="'GROUP.ROOM.CHAT.EMOJI' | translate"
    >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </button>
    <button
      #send_button
      mat-icon-button
      matSuffix
      (click)="onSendButtonClicked($event, message)"
      (touchend)="onSendButtonClicked($event, message)"
      [attr.aria-label]="'GROUP.ROOM.CHAT.SEND' | translate"
    >
      <mat-icon
        matSuffix
      >send</mat-icon>
    </button>
  </mat-form-field>
</div>

