<app-message
  *ngFor="let item of counter(30);"
  [name]="'Junghoon Lee'"
  [message]="'This is a test message.'"
  [date]="getDate()"
  [isShowTime]="true"
></app-message>


<div
  class="footer"
  [style.width]="footerWidth"
>
  <mat-form-field appearance="outline">
    <mat-label>Message</mat-label>
    <input
      matInput
      placeholder="Placeholder"
      type="text"
      autocomplete="off"
    >
    <button
      mat-icon-button
      matSuffix
      [attr.aria-label]="'SIGN_IN.HIDE_PASSWORD' | translate"
    >
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </button>
    <button
      mat-icon-button
      matSuffix
      [attr.aria-label]="'SIGN_IN.HIDE_PASSWORD' | translate"
    >
      <mat-icon matSuffix>send</mat-icon>
    </button>
  </mat-form-field>
</div>

