@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.loader {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chats {
  width: 400px;
  height: 100%;
  overflow: auto;
}

.footer {
  width: 400px;
  position: fixed;
  padding-bottom: 8px;
  bottom: 0;
  background-color: var(--body-background);

  mat-form-field {
    width: inherit;
    min-height: 56px;

    textarea {
      resize: none;
      max-height: 200px;
    }

    ::ng-deep .mat-mdc-form-field-icon-suffix {
      display: flex;
    }
  }

  .fileInput {
    display: none;
  }
  
  .attachment {
    display: flex;
    width: inherit;
    overflow-x: auto;
    margin-bottom: 16px;
    padding-top: 8px;
    border-top: 2px solid var(--box-border-color);
    border-radius: 8px;

    app-thumbnail {
      margin-right: 8px;
    }

  }
}


@media screen and (max-width: $SHORT_WINDOW_WIDTH) {

  .chats {
    width: 100%;
    height: calc(100% - #{$CHAT_FOOTER_HEIGHT});
  }

.footer {
  width: calc(100% - #{$SIDENAV_WIDTH} - 16px);
  right: 0;
  padding-left: 8px;
  padding-right: 8px;

  .attachment {
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }
}

}
