<div
  class="header"
  [ngStyle]="!isSideNavOpen && isShortWidth ? headerStyle : {}"
>
  <div
    mat-ripple
    class="profile"
    (click)="open(chatSpaceCategory.INFO)"
  >
    <app-profile-icon
      [length]="48"
      [name]="name"
      [color]="color"
    ></app-profile-icon>
    <span class="name">{{ name }}</span>
  </div>
</div>
<nav
  *ngIf="isShortWidth"
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
  class="tabs"
>
  <a
    mat-tab-link
    [active]="isViewActive(chatSpaceCategory.ROOM)"
    (click)="open(chatSpaceCategory.ROOM)"
  >Rooms</a>
  <a
    *ngIf="room"
    mat-tab-link
    [active]="isViewActive(chatSpaceCategory.CHAT) && category !== chatSpaceCategory.INFO"
    (click)="open(chatSpaceCategory.CHAT)"
  >Chat</a>
  <a
    *ngIf="room"
    mat-tab-link
    [active]="isViewActive(chatSpaceCategory.LIVE) && category !== chatSpaceCategory.INFO"
    (click)="open(chatSpaceCategory.LIVE)"
  >Indoor</a>
  <a
    mat-tab-link
    [active]="isViewActive(chatSpaceCategory.INFO)"
    (click)="open(chatSpaceCategory.INFO)"
  >Info</a>
</nav>
<mat-tab-nav-panel #tabPanel>
</mat-tab-nav-panel>

<div appDrag class="content" (files)="onFileDrop($event)">
  <div
    *ngIf="isViewActive(chatSpaceCategory.ROOM)"
    class="room"
  >
    <app-room-list
      [groupId]="groupId"
      [isRoomActive]="category !== chatSpaceCategory.INFO"
      (itemSelect)="openRoom($event)"
    ></app-room-list>
  </div>
  <ng-container
    *ngIf="!isShortWidth || !isViewActive(chatSpaceCategory.ROOM)"
  >
    <app-room
      [isChatViewOpen]="isViewActive(chatSpaceCategory.CHAT) && category !== chatSpaceCategory.INFO"
      [isLiveViewOpen]="isViewActive(chatSpaceCategory.LIVE) && category !== chatSpaceCategory.INFO"
      [isInfoViewOpen]="category === chatSpaceCategory.INFO"
      [groupId]="groupId"
    >
    </app-room>
  </ng-container>

</div>
