<div class="header">
  <div class="profile">
    <app-profile-icon [length]="48"></app-profile-icon>
    <span class="name">Junghoon Lee</span>
  </div>
  <div class="menu">
    <button
      mat-button
      *ngIf="isShortWidth"
      (click)="isRoomPanelOpen = !isRoomPanelOpen"
    >
      <mat-icon>grid_view</mat-icon>
    </button>
  </div>


</div>

<div class="content">
  <div
    *ngIf="!isShortWidth || isRoomPanelOpen"
    class="room"
  >
    Hello i'm side.
  </div>
  <div *ngIf="!isShortWidth || !isRoomPanelOpen">
    Hello
  </div>

</div>
