@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: $NAV_HEIGHT;

  .profile {
    display: flex;
    vertical-align: center;
    padding-left: 16px;
    padding-right: 16px;

    .name {
      margin-left: 8px;
      font-weight: bold;
      font-size: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }

  }

  .menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }

}

.content {
  display: flex;
  height: 100%;

  .room {
    overflow: auto;
    height: 100%;
    width: 200px;
  }


}





@media screen and (max-width: $SHORT_WINDOW_WIDTH) {

  .header {
    height: $NAV_MOBILE_HEIGHT;
    .profile {
      .name {
        font-size: 18px;
      }

    }
  }

  .tabs {
    background-color: $DEFAULT_BACKGROUND_COLOR;

    position: fixed;
    width: 100%;
  }

  .content {
    padding-top: $TAB_HEIGHT;
    .room {
      width: 100%;
    }
  }


}
