@import "src/assets/style/attrs";

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 16px;

  .profile {
    display: flex;
    vertical-align: center;

    .name {
      margin-left: 8px;
      font-weight: bold;
      font-size: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }

  }

  .menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }

}

.content {
  display: flex;
  height: 100%;

  .room {
    background-color: #46a35e;
    height: 100%;
    width: 200px;
  }

}





@media screen and (max-width: $SHORT_WIDTH) {

  .content {
    .room {
      width: 100%;
    }
  }


}
