<div class="header">
  <div class="profile" mat-ripple>
    <app-profile-icon [length]="48"></app-profile-icon>
    <span class="name">{{ name }}</span>
  </div>
</div>
<nav
  *ngIf="isShortWidth"
  mat-tab-nav-bar
  class="tabs"
>
  <a
    mat-tab-link
    [active]="isShowRoomPanel"
    (click)="openRoomList()"
  >Rooms</a>
  <a
    mat-tab-link
    [active]="isChatViewOpen"
    (click)="openChat()"
  >Chat</a>
  <a
    mat-tab-link
    [active]="isLiveViewOpen"
    (click)="openLive()"
  >Indoor</a>
</nav>
<div class="content">
  <div
    *ngIf="isShowRoomPanel"
    class="room"
  >
    <app-room-list
      [groupId]="groupId"
      (itemSelect)="openRoom($event)"
    ></app-room-list>
  </div>
  <ng-container
    *ngIf="!isShortWidth || !isShowRoomPanel"
  >
    <app-room
      [isChatViewOpen]="isChatViewOpen"
      [isLiveViewOpen]="isLiveViewOpen"
      [groupId]="groupId"
    >
    </app-room>
  </ng-container>

</div>
