@import "src/assets/style/palette";

.sidebar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;

  .header {
    text-align: center;

    h1 {
      margin-block-end: 0;
    }

    p {
      margin-block-start: 0;
    }

  }

  .profile {
    margin: 8px auto 0 0;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;

    .name {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 8px;
      font-weight: bold;
      font-size: 24px;
      text-overflow:ellipsis;
    }
  }

  .creation {
    width: 64px;
    height: 64px;
    background-color: var(--list-background-dark);
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 8px auto 0 auto;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    mat-icon {
    }
  }

  .creation-large {
    width: 90%;
    height: 64px;
    -webkit-border-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 8px;
    -moz-background-clip: padding;
    border-radius: 8px;
    margin: 8px auto 0 auto;
    background-color: var(--list-background-dark);
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }


}
