<div class="sidebar">
  <div
  matRipple
  (click)="go('group/create')"
  [ngClass]="isLarge ? 'creation-large' : 'creation'"
  >
  <mat-icon>add</mat-icon>
  <span *ngIf="isLarge">{{ 'GROUP_LIST.ADD' | translate }}</span>
  </div>
  <div
    matRipple
    *ngFor="let group of groups"
    class="profile"
    [matRippleDisabled]="!isLarge"
    (click)="onGroupClick(group.id)"
  >
    <app-profile-icon
      [matTooltip]="!isLarge ? getTitle(group) : null"
      [matTooltipPosition]="'right'"
    ></app-profile-icon>
    <span
      *ngIf="isLarge"
      class="name"
    >{{ getTitle(group) }}</span>
  </div>
</div>
