<div class="sidebar">
  <div
    matRipple
    *ngFor="let group of groups"
    class="profile"
    [matRippleDisabled]="!isLarge"
    (click)="onGroupClick(group.id)"
  >
    <app-profile-icon
      [matTooltip]="!isLarge ? getTitle(group) : null"
      [matTooltipPosition]="'right'"
    ></app-profile-icon>
    <span
      *ngIf="isLarge"
      class="name"
    >{{ getTitle(group) }}</span>
  </div>
  <div
    matRipple
    (click)="go('chat/create')"
    class="creation"
  >
    <mat-icon>add</mat-icon>
  </div>
</div>
