<div class="sidebar">
  <div
  matRipple
  (click)="go('group/create')"
  [ngClass]="isLarge ? 'creation-large' : 'creation'"
  >
  <mat-icon>add</mat-icon>
  <span *ngIf="isLarge">{{ (isLarge ? 'GROUP_LIST.ADD_DETAIL' : 'GROUP_LIST.ADD') | translate }}</span>
  </div>
  <span
    *ngIf="!isLarge"
    class="name"
    >{{ isLarge ? 'GROUP_LIST.ADD_DETAIL' : 'GROUP_LIST.ADD' | translate }}</span>
    
  <div
    matRipple
    *ngFor="let group of groups"
    [ngClass]="isLarge ? 'profile-large' : 'profile'"
    [matRippleDisabled]="!isLarge"
    (click)="onGroupClick(group.id)"
  >
    <app-profile-icon
      [matTooltip]="!isLarge ? getTitle(group) : null"
      [matTooltipPosition]="'right'"
      [length]="64"
      [name]="getTitle(group)"
      [color]="getColor(group)"
    ></app-profile-icon>
    <span
    class="name"
    >{{ getTitle(group) }}</span>
  </div>
</div>
