
:host {
  --body-background: #303030;
  --list-item-hover: #424242;
  --list-background-dark: #6d6d6d;
  --button-background: #EAEAEA;
  --sub-text-color: #757575;
  --box-border-color: #1c1c1c;

}

@media (prefers-color-scheme: light) {
  :host {
    --body-background: #fafafa;
    --list-item-hover: #F5F5F5;
    --list-background-dark: #eeeeee;
    --button-background: #EAEAEA;
    --sub-text-color: #757575;
    --box-border-color: #1c1c1c;
  }

}

//$LIST_ITEM_HOVER : #F5F5F5;
//$LIST_BACKGROUND_DARK: #eeeeee;
