
:host {
  --list-item-hover: #424242;
  --list-background-dark: #6d6d6d;
  --button-background: #EAEAEA;
  --sub-text-color: #757575;

}

@media (prefers-color-scheme: light) {
  :host {
    --list-item-hover: #F5F5F5;
    --list-background-dark: #eeeeee;
    --button-background: #EAEAEA;
    --sub-text-color: #757575;
  }

}

//$LIST_ITEM_HOVER : #F5F5F5;
//$LIST_BACKGROUND_DARK: #eeeeee;
