.icon{
  width: 64px;
  height: 64px;
  cursor: pointer ;
  background-color: red;
  -webkit-border-radius: 60px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 60px;
  -moz-background-clip: padding;
  border-radius: 60px;
  background-clip: padding-box;
  margin: 8px auto 0 auto;
  background-size: cover;
  background-position: center center;
}
