<app-container-layout>
  <div class="introduction">
    <h1>{{ 'INTRODUCTION.TITLE' | translate }}</h1>
    <p>{{ 'INTRODUCTION.DESCRIPTION' | translate }}</p>

    <div class="register">
      <mat-radio-group
        [(ngModel)]="gender"
        aria-label="Select an option"
      >
        <mat-radio-button value="1">{{ 'GENDER.MALE' | translate }}</mat-radio-button>
        <mat-radio-button value="2">{{ 'GENDER.FEMALE' | translate }}</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <button
        mat-raised-button
        *ngIf="!isRequesting"
        color="primary"
        (click)="onStartClick()"
      >
        {{ 'INTRODUCTION.START' | translate }}
      </button>
      <mat-spinner
        *ngIf="isRequesting"
        [diameter]="20"
      ></mat-spinner>
    </div>

  </div>
</app-container-layout>
