<app-container-layout>
  <div class="introduction">
    <h1>{{ 'INTRODUCTION.TITLE' | translate }}</h1>
    <p>{{ 'INTRODUCTION.DESCRIPTION' | translate }}</p>

    <div class="register">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">{{ 'GENDER.MALE' | translate }}</mat-radio-button>
        <mat-radio-button value="2">{{ 'GENDER.FEMALE' | translate }}</mat-radio-button>
      </mat-radio-group>
      <br><br>
      <button
        mat-raised-button
        color="primary"
      >{{ 'INTRODUCTION.START' | translate }}</button>
    </div>
  </div>
</app-container-layout>
