<app-detail-view
  *ngIf="isLiveViewOpen"
  [room]="room"
  [topicId]="topicId"
  [topic]="topic"
  [groupId]="groupId"
  class="live"
></app-detail-view>
<app-room-info
  *ngIf="isInfoViewOpen"
  [room]="room"
>
</app-room-info>
<app-chat
  #chatComponent
  *ngIf="isChatViewOpen"
  [chats]="chats"
  [sendingChats]="sendingChats"
  [extraChats]="recentExtraChats"
  [room]="room"
  [topic]="topic"
  [isDisabled]="isChatDisabled"
  [isLoading]="isChatLoading || !isAuthenticated"
  [isChatLoading]="isChatLoading"
  [isFullyLoad]="isChatFullyLoad"
  (chatSend)="sendMessage($event)"
  (loadPreviousChats)="fetchPreviousChats()"
  (window:scroll)="onWindowScroll($event)"
  class="chat"
  [ngStyle]="chatStyle"
></app-chat>
