<app-one-container>
  <app-spinner *ngIf="isLoading"></app-spinner>
  <mat-card
    *ngIf="!isLoading"
    class="profile"
  >
    <app-profile-icon
      [isClickable]="false"
      [length]="128"
    ></app-profile-icon>
    <h1>{{ user?.name }}</h1>
    <button
      mat-button
      *ngIf="!isMe"
      (click)="onMessageClick()"
    >
      <mat-icon>message</mat-icon>
    </button>
    <app-friend-button
      [user]="user"
      (change)="fetch(user.id)"
    ></app-friend-button>
  </mat-card>
</app-one-container>
