<h1 mat-dialog-title>{{ 'GROUP.ROOM.CREATE' | translate }}</h1>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>{{ 'GROUP.ROOM.CREATE_DIALOG.TITLE' | translate }}</mat-label>
  <input matInput
         [placeholder]="'GROUP.ROOM.CREATE_DIALOG.TITLE_PLACEHOLDER' | translate"
  >
</mat-form-field>

<mat-dialog-actions>
  <button
    mat-button
    *ngIf="!isShowAdvanced"
    (click)="isShowAdvanced = !isShowAdvanced"
  >{{ 'GROUP.ROOM.CREATE_DIALOG.ADVANCED' | translate }}</button>
  <button mat-button>{{ 'GROUP.ROOM.CREATE_DIALOG.CANCEL' | translate }}</button>
  <button mat-button>{{ 'GROUP.ROOM.CREATE_DIALOG.CONFIRM' | translate }}</button>
</mat-dialog-actions>
