@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.drawer-container {
  height: 100%;

  .drawer {
    width: 80px;
    margin-right: auto;
    margin-left: auto;

    .logo {
      background-color: $PRIMARY_COLOR;
      width: inherit;
      height: $NAV_HEIGHT;
      text-align: center;
    }
  }

  .container {
    margin-top: $NAV_HEIGHT;
    display: block;
    width: 100%;
    height: calc(100% - #{$NAV_HEIGHT});
  }
}


@media screen and (max-width: $SHORT_WINDOW_WIDTH) {

  .drawer-container {
    .drawer {
      .logo {
        height: $NAV_MOBILE_HEIGHT;
      }
    }
  }

  .container {
    margin-top: $NAV_MOBILE_HEIGHT;
    height: calc(100% - #{$NAV_MOBILE_HEIGHT});
  }

}
