<mat-drawer-container
  class="drawer-container"
  (window:resize)="onWindowResize($event)"
  [hasBackdrop]="false"
>
  <mat-drawer
    #drawer
    [mode]="'side'"
    [opened]="(isSideNavOpen || !isSmallWidth) && isSignedIn"
    class="drawer"
  ></mat-drawer>
  <mat-drawer-content>
    <app-navbar
      (toggleSidNav)="toggleSideNav()"
      [isSmallWidth]="isSmallWidth"
    ></app-navbar>
    <div class="container">
      <router-outlet *ngIf="!pageErrorCode else errorPage"></router-outlet>
      <ng-template #errorPage>
        <app-error-page [errorCode]="pageErrorCode"></app-error-page>
      </ng-template>
    </div>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
