@import "src/assets/style/attrs";

.drawer-container {
  height: 100%;

  .drawer {
    width: 80px;
    margin-right: auto;
    margin-left: auto;

    .logo {
      background-color: #1976d2;
      width: inherit;
      height: 64px;
      text-align: center;
    }
  }

  .container {
    margin-top: $NAV_HEIGHT;
    display: block;
    width: 100%;
    height: calc(100% - 64px);
  }
}
