@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.logo {
  position: absolute;
  background-position: center;
  mask: url("/assets/img/logo.svg") no-repeat center;
  background-color: #b085f5;
  width: 80px;
  height: $NAV_HEIGHT;
  text-align: center;
  z-index: 30;
  cursor: pointer;
}


.drawer-container {
  height: 100%;

  .hide {
    margin-left: 0 !important;
  }


  .drawer-container {
    margin-left: $SIDENAV_WIDTH !important;
  }

  .drawer-container-large {
    margin-left: $SIDENAV_WIDTH_LARGE !important;
  }


  .drawer {
    width: $SIDENAV_WIDTH;
    margin-right: auto;
    margin-left: auto;
    padding-top: $NAV_HEIGHT;
  }


  .drawer-enlarge {
    @extend .drawer;
    width: $SIDENAV_WIDTH_LARGE;
    margin-right: auto;
    margin-left: auto;
    padding-top: $NAV_HEIGHT;
  }


  .container {
    margin-top: $NAV_HEIGHT;
    display: block;
    width: 100%;
    overflow: hidden;
    height: calc(100% - #{$NAV_HEIGHT});
  }
}


@media screen and (max-width: $SHORT_WINDOW_WIDTH) {

  .logo {
    height: $NAV_MOBILE_HEIGHT;
  }

  .container {
    margin-top: $NAV_MOBILE_HEIGHT;
    height: calc(100% - #{$NAV_MOBILE_HEIGHT});
  }

}
