@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.item {
  display: block;
  margin-top: 8px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px ;


  &:hover {
    background-color: $LIST_ITEM_HOVER;
  }

  &:active {
    background-color: $LIST_ITEM_HOVER;
  }

  .image {
    border-radius: 4px;
    background-color: #EAEAEA;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    .title {
      font-size: 16px;
      font-weight: bold;
    }

    .subtitle {
      color: #757575;
    }
  }



}

.selected {
  background-color: $LIST_ITEM_HOVER;

  &:hover {
    background-color: $LIST_ITEM_HOVER;
  }
}

