@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.item {
  display: flex;
  margin-top: 8px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px ;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */


  &:hover {
    background-color: var(--list-item-hover);
  }

  &:active {
    background-color: var(--list-item-hover);
  }

  .emoji {
    font-size: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    margin-right: 8px;
  }

  .image {
    border-radius: 4px;
    background-color: #EAEAEA;
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    display: grid;
    text-align: left;

    .title {
      font-size: 16px;
      font-weight: bold;
    }

    .subtitle {
      color: #757575;
    }
  }



}

.selected {
  background-color: var(--list-item-hover);

  &:hover {
    background-color: var(--list-item-hover);
  }
}

