<div
  (scroll)="onScroll($event)"
  class="room-list"
>
  <div
    matRipple
    class="creation"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
    <span>{{ 'GROUP.ROOM.CREATE' | translate }}</span>
  </div>
  <app-room-item
    *ngFor="let room of rooms"
    [room]="room.letter"
    [name]="room.name"
    [letter]="room.letter"
    [description]="room.name"
    [isSelected]="room.id === selectedRoomId && isRoomActive"
    (click)="onClick(room)"
  ></app-room-item>

  <div
    *ngIf="isLoading"
    class="loader"
  >
    <app-skeleton-loader
      count="6"
      height="100px"
      width="80%"
    ></app-skeleton-loader>
  </div>


</div>


