<div
  (scroll)="onScroll($event)"
  class="room-list"
>
  <div
    matRipple
    class="creation"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
    <span>{{ 'GROUP.ROOM.CREATE' | translate }}</span>
  </div>
  <app-room-item
    *ngFor="let room of rooms"
    [name]="room.name"
    [description]="room.name"
    [isSelected]="room.id === selectedRoomId"
    (click)="onClick(room)"
  ></app-room-item>

  <div
    *ngIf="isLoading"
    class="loader"
  >
    <ngx-skeleton-loader
      count="6"
      [theme]="{
      'height.px': 100,
      'width': '80%'
    }"
    ></ngx-skeleton-loader>
  </div>


</div>


