@import "src/assets/style/attrs";
@import "src/assets/style/palette";

:host {
  height: inherit;
}

.room-list {
  height: inherit;
  overflow: auto;
  .creation {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    border-bottom: 1px solid var(--list-background-dark);
    align-items: center;
    font-weight: bold;
    height: 56px;
    cursor: pointer;

    mat-icon {
      margin-right: 8px;
    }

    &:hover {
      background-color: var(--list-background-dark);
    }
  }

  .loader {
    margin-top: 16px;
    text-align: center;
  }
}
