canvas {

  background-image: url("/assets/img/room/background.png");
  background-size: 150%;
  background-position: 45% 0;
  background-repeat: no-repeat;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}
