<div class="view">
  <div *ngIf="!room">
    <app-skeleton-loader
      count="1"
      height="360px"
    ></app-skeleton-loader>
    <app-skeleton-loader
      count="1"
      height="48px"
      width="80px"
    ></app-skeleton-loader>
    <app-skeleton-loader
      count="1"
      width="50%"
    ></app-skeleton-loader>
  </div>
  <ng-container *ngIf="room">
    <mat-chip-listbox class="chip_list">
      <mat-chip-option
        (click)="onClick(liveCategoryType.NOW)"
        [selected]="category === liveCategoryType.NOW"
      >{{ 'GROUP.ROOM.LIVE.CATEGORY.NOW' | translate }}</mat-chip-option>
      <mat-chip-option
      (click)="onClick(liveCategoryType.SUMMARY)"
      [selected]="category === liveCategoryType.SUMMARY"
    >{{ 'GROUP.ROOM.LIVE.CATEGORY.SUMMARY' | translate }}</mat-chip-option>
      <mat-chip-option
        (click)="onClick(liveCategoryType.ATTENDEE)"
        [selected]="category === liveCategoryType.ATTENDEE"
      >{{ 'GROUP.ROOM.LIVE.CATEGORY.ATTENDEE' | translate }}</mat-chip-option>
      <mat-chip-option
        (click)="onClick(liveCategoryType.ATTACH)"
        [selected]="category === liveCategoryType.ATTACH"
      >{{ 'GROUP.ROOM.LIVE.CATEGORY.ATTACH' | translate }}</mat-chip-option>
    </mat-chip-listbox>
    <div class="view">
      <ng-container *ngIf="category === liveCategoryType.SUMMARY">
        <app-summary
        [room]="room"
        style="width: 100%; height: 100%;"
        ></app-summary>
      </ng-container>
      <ng-container *ngIf="category === liveCategoryType.MAP">
        <app-map style="width: 100%; height: 100%;"></app-map>
      </ng-container>
    </div>

  </ng-container>
</div>
