@import "src/assets/style/attrs";
@import "src/assets/style/palette";

.content {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    display: flex;

    mat-icon {
        margin-left: 8px;
    }

    .messages {
        width: 100%;
        display: block;
    }
}