<div
    class="container"
    (click)="onBackgroundClick($event)"
>
    <div class="header">
        <button
            mat-icon-button
            aria-label="Download"
            (click)="onDownloadClick($event, attach);"
        >
            <mat-icon
                color="accent"
            >download</mat-icon>
          </button>
        <button
            mat-icon-button
            aria-label="Close"
            (click)="onCloseClick($event)"
        >
            <mat-icon
                color="accent"
            >close</mat-icon>
          </button>
    </div>

    <app-video-viewer
    *ngIf="attach?.type === attachType.VIDEO && attach?.status === attachStatus.NORMAL"
    class="video-player"
    [src]="attach?.url + '?prefer=video/mp4'"
    [mimeType]="attach?.mimetype"
    ></app-video-viewer>

    <img
        *ngIf="attach?.type === attachType.IMAGE"
        class="image"
        [src]="attach?.url"
        [ngStyle]="imageStyle"
        (click)="onImageClick($event)"
    />

    <div
        *ngIf="attach?.type !== attachType.IMAGE"
        class="info"
    >
        <mat-icon
            *ngIf="attach?.type === attachType.BINARY"
            class="icon"
        >insert_drive_file</mat-icon>
        <span class="title">{{ attach.name }}{{ attach.extension }}</span>
        <p>{{ attach.size | filesize }}</p>
    </div>


    <div
        *ngIf="attach?.status === attachStatus.PROCESSING"
        class="video-loader"
    >
        <app-spinner></app-spinner>
        {{ 'VIEWER.VIDEO.PROCESSING' | translate }}
    </div>



</div>