<div
    class="container"
    (click)="onBackgroundClick($event)"
>
    <div class="header">
        <button
            mat-icon-button
            aria-label="Download"
            (click)="onDownloadClick($event, currentAttach);"
        >
            <mat-icon
                color="accent"
            >download</mat-icon>
          </button>
        <button
            mat-icon-button
            aria-label="Close"
            (click)="onCloseClick($event)"
        >
            <mat-icon
                color="accent"
            >close</mat-icon>
          </button>
    </div>

    <app-video-viewer
    *ngIf="currentAttach?.type === attachType.VIDEO && currentAttach?.status !== attachStatus.PROCESSING"
    class="video-player"
    [src]="currentAttach?.status === attachStatus.NORMAL ? currentAttach.urls?.converted : currentAttach.urls?.origin"
    [mimeType]="currentAttach?.mimetype"
    ></app-video-viewer>

    <img
        *ngIf="currentAttach?.type === attachType.IMAGE"
        class="image"
        crossorigin="anonymous"
        [src]="currentAttach.urls?.origin"
        [ngStyle]="imageStyle"
        (click)="onImageClick($event)"
    />

    <div
        *ngIf="currentAttach?.type !== attachType.IMAGE"
        class="info"
    >
        <mat-icon
            *ngIf="currentAttach?.type === attachType.BINARY"
            class="icon"
        >insert_drive_file</mat-icon>
        <span class="title">{{ currentAttach.name }}{{ currentAttach.extension }}</span>
        <p>{{ currentAttach.size | filesize }}</p>
    </div>


    <div
        *ngIf="currentAttach?.status === attachStatus.PROCESSING"
        class="video-loader"
    >
        <app-spinner></app-spinner>
        {{ 'VIEWER.VIDEO.PROCESSING' | translate }}
    </div>


    <button
    *ngIf="currentIndex > 0"
    mat-icon-button
    class="arrow-button__left"
    aria-label="Download"
    (click)="onArrowClick($event, -1)"
>
    <mat-icon
        class="arrow-icon"
    >keyboard_arrow_left</mat-icon>
  </button>

  <button
  *ngIf="currentIndex < attaches?.length - 1"
  mat-icon-button
  class="arrow-button__right"
  aria-label="Download"
  (click)="onArrowClick($event, 1)"
>
  <mat-icon
      class="arrow-icon"
  >keyboard_arrow_right</mat-icon>
</button>



</div>