<mat-toolbar>
  <span>SurReal</span>

  <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <span class="space"></span>

  <ng-container *ngIf="!isSignedIn">
    <button
      mat-button
      (click)="goSignIn()"
    >{{ 'NAV_BAR.SIGN_IN' | translate }}</button>
    <button
      mat-stroked-button
      (click)="goSignUp()"
    >{{ 'NAV_BAR.SIGN_UP' | translate }}</button>
  </ng-container>

</mat-toolbar>
