<mat-toolbar>
  <span
    (click)="goMain()"
    class="main"
  >SurReal (Alpha)</span>
  <button
    mat-button
    *ngIf="isSignedIn && isSmallWidth"
    (click)="onSideNavToggleClick()"
  >
    <mat-icon>people_alt_outlined</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="moreMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #moreMenu="matMenu" yPosition="above">
    <button mat-menu-item (click)="goAbout()">About</button>
  </mat-menu>



  <span class="space"></span>

  <ng-container *ngIf="!isSignedIn else signedIn">
    <button
      mat-button
      (click)="goSignIn()"
    >{{ 'NAV_BAR.SIGN_IN' | translate }}</button>
    <button
      mat-stroked-button
      (click)="goSignUp()"
    >{{ 'NAV_BAR.SIGN_UP' | translate }}</button>
  </ng-container>
  <ng-template #signedIn>
    <button
      mat-button
      [matMenuTriggerFor]="profileMenu"
    ><mat-icon>account_circle</mat-icon> {{ userFirstName }}</button>
    <mat-menu #profileMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="goSetting()">{{ 'NAV_BAR.SETTING' | translate }}</button>
      <button mat-menu-item (click)="signOut()">{{ 'NAV_BAR.SIGN_OUT' | translate }}</button>
    </mat-menu>
  </ng-template>

</mat-toolbar>
