@import "src/assets/style/attrs";

:host {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.main {
  cursor: pointer;
}

mat-toolbar {
  background-color: transparent;
}

.main-button {
  font-size: 16px;
}
